@border-color: #77f;
@border-size: 3px;

@window-padding: 5px;
@window-color: #fff;

@resize-handle-size: 20px;
@resize-handle-border-size: @window-padding;
@resize-handle-color: @border-color;

@title-color: #fff;
@title-size: 20px;

@close-color: #b44;

@search-bg: #eee;


body {
    font: 13px/20px Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
    border: 0;
}

.workspace {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.5);
}

.window {
    background: @window-color;
    overflow: hidden;
    min-height: @title-size + 2*@window-padding;
    min-width: 100px;
    border: @border-size solid @border-color;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.4);
    position: absolute;
    display: flex;
    flex-flow: column nowrap;

    &.active {
        box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }

    > .title-bar {
        position: relative;
        background: @border-color;
        color: @title-color;
        font-size: @title-size * 2/3;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: visible;
        line-height: @title-size;
        padding: 0 @title-size 0 @border-size;
        height: @title-size;
        cursor: default;

        > .close {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: @border-size;
            width: (@title-size - @border-size);
            text-align: center;
            line-height: (@title-size - @border-size);
            cursor: pointer;
            background: @close-color;

            &:hover {
                background: lighten(@close-color, 5%);
            }
        }
    }

    > .content {
        padding: @window-padding;
        flex: 1;
        display: flex;
        align-items: stretch;
        overflow: auto;

        > * {
            flex: 1;
        }
    }

    > .resize-handle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: @resize-handle-size - @resize-handle-border-size;
        height: @resize-handle-size - @resize-handle-border-size;
        border-width: @resize-handle-border-size;
        border-color: transparent @resize-handle-color @resize-handle-color transparent;
        border-style: solid;
    }
}

#search-form {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 9999;

    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    width: 100%;
    max-width: 50em;
    padding: 4px;
    background: @search-bg;

    input[type=search] {
        width: 100%;
        font-size: 2em;
        border: 0;
        background: transparent;
    }

    button {
        display: none;
    }
}
